<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maiores dolor ut ducimus voluptatum amet voluptatibus repellendus eius aut quisquam nesciunt mollitia vel odit, sed, quibusdam praesentium culpa, obcaecati error?</p>

        <form>
            <input placeholder="Place e.g. London or Paris">
            <button>Search</button>
        </form>

        <p id="message-1">

        </p>

        <p id="message-2">

        </p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>